.weather-search {
    height: fit-content;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    justify-items: center;
    border-radius: 1.75rem;
    animation: 1.25s ease-in-out 0ms 1 fadein;
    cursor: pointer;
}

sky-box {
    height: auto;
    background-color: rgba(182, 199, 211, 0.326);
}