<sky-box class="sky-padding-even-sm sky-margin-stacked-sm sky-elevation-24" > <!--<weather-search -->
    <sky-box-header >
        <h2>Weather Settings</h2>
    </sky-box-header>
    <sky-box-content>
        <form [formGroup]="formGroup" (submit)="onSearch()">
            <sky-fluid-grid [autofocus]="true" [disableMargin]="true" gutterSize="medium">
                <sky-row>
                    <sky-column [screenSmall]="12" [screenMedium]="4">
                        <sky-input-box data-sky-id="input-box-city-name" labelText="City Name" stacked="true"
                            hintText="Enter City Name.">
                            <input formControlName="cityName" spellcheck="false" type="text"
                                tooltip="Enter City Name" />
                        </sky-input-box>
                    </sky-column>
                    <sky-column [screenSmall]="12" [screenMedium]="4">
                        <sky-input-box labelText="Start Date" stacked="true">
                            <sky-datepicker>
                                <input formControlName="startDate" skyDatepickerInput />
                            </sky-datepicker>
                        </sky-input-box>
                    </sky-column>
                    <sky-column [screenSmall]="12" [screenMedium]="4">
                        <sky-input-box labelText="End Date" stacked="true">
                            <sky-datepicker>
                                <input formControlName="endDate" skyDatepickerInput />
                            </sky-datepicker>
                        </sky-input-box>
                    </sky-column>
                </sky-row>

                <sky-row>
                    <sky-column [screenSmall]="12" [screenMedium]="4">
                        <sky-radio-group formControlName="selectedTempratureUnit" labelText="Temprature Unit">
                            <ul class="sky-list-unstyled">
                                <li *ngFor="let tempUnit of tempratureUnits">
                                    <sky-radio
                                      [disabled]="tempUnit.disabled"
                                      [value]="tempUnit.value"
                                      [labelText]="tempUnit.name"
                                    />
                                  </li>
                            </ul>
                        </sky-radio-group>
                    </sky-column>
                    <sky-column [screenSmall]="12" [screenMedium]="4">
                        <sky-radio-group formControlName="selectedPrecipitationUnits" labelText="Precipitation Unit">
                            <!-- <ul class="sky-list-styled"> -->
                            <div *ngFor="let precUnit of precipitationUnits">
                                <sky-radio [disabled]="precUnit.disabled" [value]="precUnit.value"
                                    [labelText]="precUnit.name" />
                            </div>
                            <!-- </ul> -->
                        </sky-radio-group>
                    </sky-column>
                    <sky-column [screenSmall]="12" [screenMedium]="4">
                        <sky-radio-group formControlName="selectedTimeFormatUnits" labelText="Time Format Unit">
                            <!-- <ul class="sky-list-styled"> -->
                            <div class="" *ngFor="let timeFormatUnit of timeFormatUnits">
                                <sky-radio [disabled]="timeFormatUnit.disabled" [value]="timeFormatUnit.value"
                                    [labelText]="timeFormatUnit.name" />
                            </div>
                            <!-- </ul> -->
                        </sky-radio-group>
                    </sky-column>
                </sky-row>

                <sky-row class="sky-padding-even-sm">
                    <sky-column [screenSmall]="4"></sky-column>
                    <sky-column [screenSmall]="2">
                        <button type="button" class="sky-btn sky-margin-stacked-sm sky-btn-primary" type="submit">
                            Submit
                        </button>
                    </sky-column>
                    <sky-column [screenSmall]="2">
                        <button type="button" class="sky-btn sky-margin-stacked-sm sky-btn-default" (click)="onReset()">
                            Reset
                        </button>
                    </sky-column>
                    <sky-column [screenSmall]="4"></sky-column>
                </sky-row>
            </sky-fluid-grid>
        </form>
    </sky-box-content>
</sky-box>