<sky-box class="sky-margin-stacked-sm weather__card">
    <sky-box-header>
        <h2 class="sky-font-heading-2">Hourly Weather</h2>
    </sky-box-header>
    <sky-box-content>
        <sky-ag-grid-wrapper>
            <ag-grid-angular 
            [pagination]="pagination"
            [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector" 
            [gridOptions]="gridOptions" 
            [rowData]="gridData" 
            [overlayNoRowsTemplate]="noRowsTemplate" />
        </sky-ag-grid-wrapper>
    </sky-box-content>
</sky-box>