<sky-box class="sky-margin-stacked-sm weather__card">
    <sky-box-header>
        <div class="current-weather">
            <h2 class="sky-font-heading-2 current-weather-header">Current Weather</h2>
            <form form [formGroup]="formGroup" class="current-weather-toggle">
                <sky-toggle-switch ariaLabel="Switch Daily/Hourly Weather Data" formControlName="weatherViewToggle">
                    <sky-toggle-switch-label> Hourly Weather </sky-toggle-switch-label>
                    <sky-help-inline class="sky-control-help" ariaLabel="Information about top toggle switch"
                        (actionClick)="onToggleSwitchInlineclick()" />
                </sky-toggle-switch>
            </form>
        </div>
    </sky-box-header>
    <sky-box-content>
        <div class="current-weather-container">
            <div class="left-container">
                <div class="left-container-temp-data">
                    <div class="left-container-temp-image">
                        <img *ngIf="isDay && forecast.data.current.rain < 10" src="../../../assets/sun.png"
                            alt="Sunny Day Weather">
                        <img style="border-radius: 5px;" *ngIf="!isDay" src="../../../assets/full-moon.png" alt="Night">
                        <img *ngIf="forecast.data.current.rain > 0" src="../../../assets/weather-app.png"
                            alt="Cloudy Weather">
                    </div>
                    <div class="left-container-temp-value">{{forecast.data.current.temperature_2m}}<sup>{{forecast.data.current_units.temperature_2m}}</sup></div>
                    <div class="left-container-temp-current-day">{{currentDay}}, {{currentTime}}</div>
                </div>
                <div class="dividing-line"></div>
                <div class="left-container-other-details">
                    <div class="left-container-temp-summary">
                        <div class="left-container-temp-summary-phrase-image"><img src=""></div>
                        <div class="left-container-temp-summary-value">{{forecast.data.timezone}} - {{isDay ? 'Day' :
                            'Night'}}</div>
                    </div>
                    <div class="left-container-rain-stats">
                        <div class="left-container-rain-stats-img"><img src=""></div>
                        <div class="left-container-rain-stats-value">Rain - {{forecast.data.current.rain}}%</div>
                    </div>
                    <div class="left-container-location-details">
                        <div class="left-container-location-name">
                            {{locationName}}
                        </div>
                        <div class="left-container-location-img">
                            <img [src]="selectedImage">
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-container">
                <div style="margin-left: 5%; margin-top: 5%;">Week's Highlight</div>
                <div class="right-container-subcontainer-daily">
                    <div class="right-container-daily-temp-card" *ngFor="let index of numbersDailyWeather">
                        <div class="right-container-daily-temp-current-day"><section>{{dailyDay[index].day}}</section></div>
                        <div class="right-container-daily-temp-image">
                            <img *ngIf="forecast.data.daily.temperature_2m_max[index] < 5 && forecast.data.daily.precipitation_probability_max[index]  > 20" src="../../../assets/snowfall.png" alt="Snow Weather">
                            <img *ngIf="forecast.data.daily.temperature_2m_max[index] > 5 && forecast.data.daily.temperature_2m_max[index] < 25 && forecast.data.daily.precipitation_probability_max[index]  < 20" src="../../../assets/weather-app.png" alt="Cloudy Weather">
                            <img *ngIf="forecast.data.daily.temperature_2m_max[index] > 5 && forecast.data.daily.temperature_2m_max[index] <= 25 && forecast.data.daily.precipitation_probability_max[index]  > 20" src="../../../assets/storm.png" alt="Strom Weather">
                            <img *ngIf="forecast.data.daily.temperature_2m_max[index] > 25" src="../../../assets/sun.png" alt="Sunny Day Weather">
                        </div>
                        <div class="right-container-daily-temp-value">{{forecast.data.daily.temperature_2m_max[index]}}<sup>°</sup> - {{forecast.data.daily.temperature_2m_min[index]}}<sup>°</sup></div>
                    </div>
                </div>
                <div style="margin-left: 5%;">Today's Highlight</div>
                <div class="right-container-subcontainer-other">
                    <div class="right-container-temp-card">
                        <div class="right-container-temp-current-day-wind">{{currentDayWeatherCard[0].weathervatiable}}</div>
                        <div class="right-container-temp-value-wind">{{forecast.data.current.wind_speed_10m}}</div>
                        <div class="right-container-temp-image">
                            <img src="../../../assets/wind.png" alt="Wind">
                        </div>
                    </div>
                    <div class="right-container-temp-card">
                        <div class="right-container-temp-current-day-humidity">{{currentDayWeatherCard[1].weathervatiable}}</div>
                        <div class="right-container-temp-value-humidity">{{forecast.data.current.relative_humidity_2m}}%</div>
                        <div class="right-container-temp-image">
                            <img src="../../../assets/humidity.png" alt="Humidity Weather">
                        </div>
                    </div>
                    <div class="right-container-temp-card">
                        <div class="right-container-temp-current-day-pressure">{{currentDayWeatherCard[2].weathervatiable}}</div>
                        <div class="right-container-temp-value-pressure">{{forecast.data.current.surface_pressure}}</div>
                        <div class="right-container-temp-image">
                            <img src="../../../assets/pressure-gauge.png" alt="Surface Pressure">
                        </div>
                    </div>
                    <div class="right-container-temp-card">
                        <div class="right-container-temp-current-day-rain">{{currentDayWeatherCard[3].weathervatiable}}</div>
                        <div class="right-container-temp-value-rain">{{forecast.data.current.rain}}</div>
                        <div class="right-container-temp-image">
                            <img src="../../../assets/rain_percentage.png" alt="rain_percentage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sky-box-content>
</sky-box>