.weather__card {
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    justify-items: center;
    padding: 2rem;
    margin: 2rem;
    cursor: pointer;
    background-color: white;
    border-radius: 1.75rem;
    animation: 1.25s ease-in-out 0ms 1 fadein;
}
/* 
.ag-theme-quartz {
 
      --ag-foreground-color: rgb(14, 68, 145);
 
      --ag-background-color: rgb(241, 247, 255);
 
      --ag-header-background-color: rgb(228, 237, 250);
 
      --ag-row-hover-color: rgb(249, 96, 26);
} */